.InputSearch {
  position: relative;
}

.AutoComplete {
  position: absolute;
  width: 100%;
  max-height: 500px;
  overflow: auto;
  border: 1px solid #333;
  background: #eee;
  // background: #db0011;
}

.AutoComplete__item {
  padding: 5px 15px;
  cursor: pointer;
  display: block;
  width: 100%;
  &:hover {
    background: #999;
  }
}

// .ResultTable {
//   table {
//     width: 100%;
//   }
//   td {
//     text-align: center;
//   }
// }

// .Search {
//   position: relative;
//   input {
//     width: 100%;
//   }
// }

// .AutoComplete {
//   width: 100%;
//   position: absolute;
//   border: 1px solid #333;
// }

// .AutoComplete__item {
//   padding: 5px 15px;
//   cursor: pointer;
//   &:hover {
//     background: #555;
//   }
// }